body {
  background: #1D1F21;
  font-family: sans-serif;
  scale: 90%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #C5C8C6;
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}

.section {
  background: #282A2E;
  padding:1rem;
  border-radius: 2rem;
}

.measures {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.measure {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon {
 height: 50%;
}


.chart {
  max-height: 500px;
}

.charts {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: center;
}
